@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500;700;900&family=Roboto:ital,wght@0,500;1,400&family=Space+Mono&display=swap');

/* .default-layout{
    
} */

.a-tag{
    color: white;
    text-decoration: none;
}
.a-tag:hover{
    color: white;
    text-decoration: none;
}

.site-logo{
    font-family: 'Orbitron', sans-serif;

}
.header{
    padding: 10px;
    background-color: transparent;
    /* background-image: linear-gradient(to right, rgb(255, 145, 0) ,rgb(247, 212, 18), rgb(255, 251, 1),rgb(234, 250, 90)); */
    
  
  }
  .default-layout{
      background-image: url('https://res.cloudinary.com/ddnrxtthk/image/upload/v1667319371/nisaan3_i5kcg6.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    width: 100vw;

  }


  .menu-button{
    height:35px;
    width: 80px;
    margin-top: 7px;
    background-color: transparent;
    border-radius: 30px;
    border-color: orange;
    
    }

    .content-the-rentals{
        margin-top: 1rem;
        margin-bottom: 15rem;
    }
  

    @media only screen and (max-width:800px) {
        .default-layout{
            background-image: url('https://res.cloudinary.com/ddnrxtthk/image/upload/v1667452304/back1_qfcrok.jpg') ;
    
        }
    }
  
  